::selection {
  background: #c02926;
  color: white; }

::-moz-selection {
  background: #c02926;
  color: white; }

body {
  background-color: white; }

#header {
  border-top-color: #c02926; }

#header .contextual-navbar ul li a:hover {
  background-color: #c02926;
  border-color: #c02926; }

#header .navigation .user a:hover {
  background: #c02926; }

#header .head h1,
#header .head .steps li.current {
  color: #c02926; }

.businessitems-list li .info a {
  color: #c02926; }

.form-edit .fieldset-expand {
  border-bottom: 1px solid #ddd;
  color: #c02926; }

.theme-picker ul li.selected a img {
  border-color: #c02926; }

.skin-picker ul li.selected a {
  border-color: #c02926; }

#header p.login a {
  color: #c02926; }

.features li p.title {
  color: #c02926; }

#login-window p a {
  color: #c02926; }

#login-window .cancel,
#login-window .forgot-password {
  color: #c02926; }

.form-register fieldset h2 {
  color: #c02926; }

.form-register .fieldset-expand,
#FormLogin .forgot-password,
#FormLogin .no-account {
  color: #c02926; }

.theme-picker ul li.selected a img {
  border-color: #c02926; }

.skin-picker ul li.selected a {
  border-color: #c02926; }

.registration-finished h2 a {
  color: #c02926; }

.registration-finished .next-steps ul li a {
  color: #c02926; }

.tip-register a {
  color: #c02926; }

.ui-button,
#header .contextual-navbar .dropdown li ul a:hover,
.dropdown li ul a:hover,
.global-navbar .dropdown:hover > li > p {
  color: #c02926; }

.ui-button.red {
  background: #c02926;
  /* Old browsers */
  background: -webkit-linear-gradient(top, #d73633 0%, #d94340 50%, #d52e2b 51%, #c02926 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d73633 0%, #d94340 50%, #d52e2b 51%, #c02926 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d73633 0%, #d94340 50%, #d52e2b 51%, #c02926 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #d73633 0%, #d94340 50%, #d52e2b 51%, #c02926 100%);
  /* W3C */
  border-color: #95201e; }

.ui-button.red:hover {
  background: #d73633;
  background: -webkit-linear-gradient(top, #c02926 0%, #d52e2b 50%, #d94340 51%, #d73633 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #c02926 0%, #d52e2b 50%, #d94340 51%, #d73633 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #c02926 0%, #d52e2b 50%, #d94340 51%, #d73633 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #c02926 0%, #d52e2b 50%, #d94340 51%, #d73633 100%);
  /* W3C */
  border-color: #c02926; }

.support,
.global-navbar,
.categories-list .ui-button-add,
.picture-upload-container .default .icon_upload {
  background-color: #c02926; }

div.theme-picker > ul > li.selected {
  box-shadow: 0 0 0 3px #c02926 inset; }

.featured-list li .link .icon
, .placeholder-links a img {
  background-color: #c02926; }

.featured-list li .link h3,
.featured-list > li .link .icons,
div.dashboard .domain a {
  color: #c02926; }
