.dashboard {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, arial, sans-serif;
	color: #333;
	border-top: 1px solid #ddd;
	padding: 25px 0 75px;
	position: relative;
}

.dashboard > .wrapp {
	width: 550px;
	float: left;
	padding: 0 0 0 25px;
}

.dashboard .tip-big {
	margin: 20px 0 0;
	position: relative;
}

.dashboard .tip-big h2 {
	font-size: 32px;
	font-weight: lighter;
}

.dashboard .tip-big p {
	font-size: 20px;
	font-weight: lighter;
	color: #999;
	max-width: 425px;
}

.dashboard .tip-big p#qr-code {
	position: absolute;
	right: 0;
	top: -17px;
}

.featured-list {
	margin: 35px 0 40px;
	border-bottom: 1px solid #DDD;
}

.featured-list > li {
	border-top: 1px solid #DDD;
	list-style: none;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	position: relative;
}

.featured-list > li:hover {
	border-left: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	background: url(/images/shared/layout/ui-button-white.png) center repeat-x;
}

.featured-list > li.open:hover {
	background: none;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}

.featured-list > li .link {
	padding: 17px 0 24px 80px;
	display: block;
	text-decoration: none;
}

.featured-list > li .link .icons {
	width: 51px;
	height: 51px;
	display: block;
	position: absolute;
	left: 10px;
	top: 13px;
  color: #c02926;
}

.featured-list > li > .content {
	padding: 0 0 10px 80px;
	overflow: hidden;
}

.featured-list > li .arrow {
	width: 15px;
	height: 26px;
	display: block;
	position: absolute;
	right: 10px;
	top: 17px;
  color: #ddd;
}

.featured-list > li:hover .arrow {
  color: #c02926;
}
	
.featured-list > li .link h3 {
	color: #c02926;
	font-size: 22px;
	font-weight: lighter;
}

.featured-list > li .link small {
	color: #888;
	display: block;
	font-size: 12px;
	line-height: 12px;
}

.dashboard .domain {
	font-size: 18px;
	color: #666;
	text-align: center;
}

.dashboard .domain a {
	color: #c02926;
	font-size: 28px;
}

.placeholder-links {
	margin: 0 0 25px 80px;
}

.placeholder-links a {
	color: #6e6e6e;
	text-decoration: none;
	font-size: 17px;
	display: inline-block;
	text-align: center;
	margin: 0 10px;
}

.placeholder-links a img {
	background-color: #c02926;
	display: block;
	margin: 0 auto 10px;
}

.placeholder-links a#products img {
	margin: 0 0 10px;
}
