.markItUp .bold a {
	background-image:url(/images/shared/markitup/bold.png);
}
.markItUp .italic a {
	background-image:url(/images/shared/markitup/italic.png);
}
.markItUp .link a {
	background-image:url(/images/shared/markitup/link.png);
}
.markItUp .small a {
	background-image:url(/images/shared/markitup/small.png);
}
