::selection {
  background: #f74902;
  color: #ededed; }

::-moz-selection {
  background: #f74902;
  color: #ededed; }

body {
  background-color: #ededed; }

.login #header, .register #header {
  border-top-color: #f74902; }

#header .contextual-navbar ul li a:hover {
  background-color: #f74902;
  border-color: #f74902; }

#header .navigation .user a:hover {
  background: #f74902; }

#header .head h1,
#header .head .steps li.current {
  color: #f74902; }

.businessitems-list li .info a {
  color: #f74902; }

.form-edit .fieldset-expand {
  border-bottom: 1px solid #ddd;
  color: #f74902; }

.theme-picker ul li.selected a img {
  border-color: #f74902; }

.skin-picker ul li.selected a {
  border-color: #f74902; }

#header p.login a {
  color: #f74902; }

.features li p.title {
  color: #f74902; }

#login-window p a {
  color: #f74902; }

#login-window .cancel,
#login-window .forgot-password {
  color: #f74902; }

.form-register fieldset h2 {
  color: #f74902; }

.form-register .fieldset-expand,
#FormLogin .forgot-password, #FormLogin .no-account {
  color: #f74902; }

.theme-picker ul li.selected a img {
  border-color: #f74902; }

.skin-picker ul li.selected a {
  border-color: #f74902; }

.registration-finished h2 a {
  color: #f74902; }

.registration-finished .next-steps ul li a {
  color: #f74902; }

.tip-register a {
  color: #f74902; }

.ui-button,
#header .contextual-navbar .dropdown li ul a:hover,
.dropdown li ul a:hover,
.global-navbar .dropdown:hover > li > p {
  color: #f74902; }

.ui-button.red {
  background: #f74902;
  /* Old browsers */
  background: -webkit-linear-gradient(top, #fd6020 0%, #fd6b2f 50%, #fd5915 51%, #f74902 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fd6020 0%, #fd6b2f 50%, #fd5915 51%, #f74902 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fd6020 0%, #fd6b2f 50%, #fd5915 51%, #f74902 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #fd6020 0%, #fd6b2f 50%, #fd5915 51%, #f74902 100%);
  /* W3C */
  border-color: #c43a02; }

.ui-button.red:hover {
  background: #fd6020;
  background: -webkit-linear-gradient(top, #f74902 0%, #fd5915 50%, #fd6b2f 51%, #fd6020 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f74902 0%, #fd5915 50%, #fd6b2f 51%, #fd6020 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f74902 0%, #fd5915 50%, #fd6b2f 51%, #fd6020 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f74902 0%, #fd5915 50%, #fd6b2f 51%, #fd6020 100%);
  /* W3C */
  border-color: #f74902; }

.support,
.global-navbar,
.categories-list .ui-button-add,
.picture-upload-container .default .icon_upload {
  background-color: #f74902; }

div.theme-picker > ul > li.selected {
  box-shadow: 0 0 0 3px #f74902 inset; }

div.dashboard .list li .link .icon
, div.dashboard .list li:hover .arrow
, .placeholder-links a img {
  background-color: #f74902; }

div.dashboard .list li .link h3, div.dashboard .domain a {
  color: #f74902; }
