#header {
	border-top: 10px solid #4825bc;
}

#header p.login a {
	color: #4825bc;
}

.features li p.title {
	color: #4825bc;
}

#login-window p a {
	color: #4825bc;
}

#login-window .cancel,
#login-window .forgot-password {
	color: #4825bc;
}
