::selection {
    background:#4825bc;
    color:#fff;
}

::-moz-selection {
    background:#4825bc;
    color:#fff;
}


#header .menu ul li a:hover {
	background-color: #4825bc;
	border-color: #4825bc;
}

#header {
	border-top: 10px solid #4825bc;
}

#header .navigation .user a:hover {
	background: #4825bc;
}


.businessitems-list li .info a {
	color: #4825bc;
}


.ui-button {
	color: #4825bc;
}
.ui-button.red {
	background-color: #4825bc;
	border-color: #4825bc;
}
.ui-button.red:hover {
	background-color: #4825bc;
	border-color: #4825bc;
}


#content .head {
	background: #4825bc;
}

.form-register fieldset h2 {
	color: #4825bc;
}

.form-register .fieldset-expand {
	color: #4825bc;
}

.theme-picker ul li.selected a img {
	border-color: #4825bc;
}

.skin-picker ul li.selected a {
	border-color: #4825bc;
}

.registration-finished h2 a {
	color: #4825bc;
}

.registration-finished .next-steps ul li a {
	color: #4825bc;
}

.tip-register a {
  color: #4825bc;
}

#header {
	border-top: 10px solid #4825bc;
}

#header p.login a {
	color: #4825bc;
}

.features li p.title {
	color: #4825bc;
}

#login-window p a {
	color: #4825bc;
}

#login-window .cancel,
#login-window .forgot-password {
	color: #4825bc;
}
.form-edit fieldset h2 {
	color: #4825bc;
}

.form-edit .fieldset-expand {
	border-bottom: 1px solid #DDD;
	color: #4825bc;
}

.theme-picker ul li.selected a img {
	border-color: #4825bc;
}

.skin-picker ul li.selected a {
	border-color: #4825bc;
}


