::selection {
  background: #42537e;
  color: #efefef; }

::-moz-selection {
  background: #42537e;
  color: #efefef; }

body {
  background-color: #efefef; }

#header {
  border-top-color: #42537e; }

#header .contextual-navbar ul li a:hover {
  background-color: #42537e;
  border-color: #42537e; }

#header .navigation .user a:hover {
  background: #42537e; }

#header .head h1,
#header .head .steps li.current {
  color: #42537e; }

.businessitems-list li .info a {
  color: #42537e; }

.form-edit .fieldset-expand {
  border-bottom: 1px solid #dddddd;
  color: #42537e; }

.theme-picker ul li.selected a img {
  border-color: #42537e; }

.skin-picker ul li.selected a {
  border-color: #42537e; }

#header p.login a {
  color: #42537e; }

.features li p.title {
  color: #42537e; }

#login-window p a {
  color: #42537e; }

#login-window .cancel,
#login-window .forgot-password {
  color: #42537e; }

.form-register fieldset h2 {
  color: #42537e; }

.form-register .fieldset-expand,
#FormLogin .forgot-password,
#FormLogin .no-account {
  color: #42537e; }

.theme-picker ul li.selected a img {
  border-color: #42537e; }

.skin-picker ul li.selected a {
  border-color: #42537e; }

.registration-finished h2 a {
  color: #42537e; }

.registration-finished .next-steps ul li a {
  color: #42537e; }

.tip-register a {
  color: #42537e; }

.ui-button,
#header .contextual-navbar .dropdown li ul a:hover,
.dropdown li ul a:hover,
.global-navbar .dropdown:hover > li > p {
  color: #42537e; }

.ui-button.red {
  background: #42537e;
  /* Old browsers */
  background: -webkit-linear-gradient(top, #4e6295 0%, #54699f 50%, #4b5e8f 51%, #42537e 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #4e6295 0%, #54699f 50%, #4b5e8f 51%, #42537e 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #4e6295 0%, #54699f 50%, #4b5e8f 51%, #42537e 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #4e6295 0%, #54699f 50%, #4b5e8f 51%, #42537e 100%);
  /* W3C */
  border-color: #303d5d; }

.ui-button.red:hover {
  background: #4e6295;
  background: -webkit-linear-gradient(top, #42537e 0%, #4b5e8f 50%, #54699f 51%, #4e6295 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #42537e 0%, #4b5e8f 50%, #54699f 51%, #4e6295 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #42537e 0%, #4b5e8f 50%, #54699f 51%, #4e6295 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #42537e 0%, #4b5e8f 50%, #54699f 51%, #4e6295 100%);
  /* W3C */
  border-color: #42537e; }

.support,
.global-navbar,
.categories-list .ui-button-add,
.picture-upload-container .default .icon_upload {
  background-color: #42537e; }

div.theme-picker > ul > li.selected {
  box-shadow: 0 0 0 3px #42537e inset; }

.featured-list li .link .icon
, .featured-list li:hover .arrow
, .placeholder-links a img {
  background-color: #42537e; }

.featured-list li .link h3,
div.dashboard .domain a {
  color: #42537e; }
