::selection {
  background: #1070a0;
  color: white; }

::-moz-selection {
  background: #1070a0;
  color: white; }

body {
  background-color: white; }

.login #header, .register #header {
  border-top-color: #1070a0; }

#header .contextual-navbar ul li a:hover {
  background-color: #1070a0;
  border-color: #1070a0; }

#header .navigation .user a:hover {
  background: #1070a0; }

#header .head h1,
#header .head .steps li.current {
  color: #1070a0; }

.businessitems-list li .info a {
  color: #1070a0; }

.form-edit .fieldset-expand {
  border-bottom: 1px solid #ddd;
  color: #1070a0; }

.theme-picker ul li.selected a img {
  border-color: #1070a0; }

.skin-picker ul li.selected a {
  border-color: #1070a0; }

#header p.login a {
  color: #1070a0; }

.features li p.title {
  color: #1070a0; }

#login-window p a {
  color: #1070a0; }

#login-window .cancel,
#login-window .forgot-password {
  color: #1070a0; }

.form-register fieldset h2 {
  color: #1070a0; }

.form-register .fieldset-expand,
#FormLogin .forgot-password, #FormLogin .no-account {
  color: #1070a0; }

.theme-picker ul li.selected a img {
  border-color: #1070a0; }

.skin-picker ul li.selected a {
  border-color: #1070a0; }

.registration-finished h2 a {
  color: #1070a0; }

.registration-finished .next-steps ul li a {
  color: #1070a0; }

.tip-register a {
  color: #1070a0; }

.ui-button,
#header .contextual-navbar .dropdown li ul a:hover,
.dropdown li ul a:hover,
.global-navbar .dropdown:hover > li > p {
  color: #1070a0; }

.ui-button.red {
  background: #1070a0;
  /* Old browsers */
  background: -webkit-linear-gradient(top, #1387c0 0%, #1590ce 50%, #1280b7 51%, #1070a0 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1387c0 0%, #1590ce 50%, #1280b7 51%, #1070a0 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1387c0 0%, #1590ce 50%, #1280b7 51%, #1070a0 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #1387c0 0%, #1590ce 50%, #1280b7 51%, #1070a0 100%);
  /* W3C */
  border-color: #0b5072; }

.ui-button.red:hover {
  background: #1387c0;
  background: -webkit-linear-gradient(top, #1070a0 0%, #1280b7 50%, #1590ce 51%, #1387c0 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1070a0 0%, #1280b7 50%, #1590ce 51%, #1387c0 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1070a0 0%, #1280b7 50%, #1590ce 51%, #1387c0 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #1070a0 0%, #1280b7 50%, #1590ce 51%, #1387c0 100%);
  /* W3C */
  border-color: #1070a0; }

.support,
.global-navbar,
.categories-list .ui-button-add,
.picture-upload-container .default .icon_upload {
  background-color: #1070a0; }

div.theme-picker > ul > li.selected {
  box-shadow: 0 0 0 3px #1070a0 inset; }

div.dashboard .list li .link .icon
, div.dashboard .list li:hover .arrow
, .placeholder-links a img {
  background-color: #1070a0; }

div.dashboard .list li .link h3, div.dashboard .domain a {
  color: #1070a0; }
