#header {
	border-top: 10px solid #2f3e6e;
}

#header p.login a {
	color: #2f3e6e;
}

.features li p.title {
	color: #2f3e6e;
}

#login-window p a {
	color: #2f3e6e;
}

#login-window .cancel,
#login-window .forgot-password {
	color: #2f3e6e;
}
