#content .head {
	background: #2f3e6e;
}

#content .head .steps li {
	border-left: 1px solid #2f3e6e;
}

.form-register fieldset h2 {
	color: #2f3e6e;
}

.form-register .fieldset-expand {
	color: #2f3e6e;
}

.theme-picker ul li.selected a img {
	border-color: #2f3e6e;
}

.skin-picker ul li.selected a {
	border-color: #2f3e6e;
}

.registration-finished h2 a {
	color: #2f3e6e;
}

.registration-finished .next-steps ul li a {
	color: #2f3e6e;
}


