.dashboard {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,arial,sans-serif;
	color: #333;
	border-top: 1px solid #ddd;
	padding: 25px 0 75px;
	position: relative;
}

.dashboard > .wrapp {
	width: 550px;
	float: left;
	padding: 0 0 0 25px;
}

.dashboard .tip-big {
	margin: 20px 0 0;
}

.dashboard .tip-big h2 {
	font-size: 32px;
	font-weight: lighter;
}

.dashboard .tip-big p {
	font-size: 20px;
	font-weight: lighter;
	color: #999;
}

.dashboard .list {
	margin: 35px 0 40px;
	border-bottom: 1px solid #DDD;
}

.dashboard .list li {
	border-top: 1px solid #DDD;
	list-style: none;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	position: relative;
}
.dashboard .list li:hover {
	border-left: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	background: url(/images/shared/layout/ui-button-white.png)  center repeat-x;
}
.dashboard .list li a {
	padding: 17px 0 24px 80px;
	display:block;
	text-decoration: none;
}

.dashboard .list li a .icon {
	background: url(/images/shared/dashboard/icons.png) no-repeat 0 0 #c02926;
	width: 51px;
	height: 51px;
	display: block;
	position: absolute;
	left: 10px;
	top: 13px;
}

.dashboard .list li#photos a .icon{
	background-position: 0 -1013px;
}

.dashboard .list li#social a .icon {
	background-position: 0 -205px;
}

.dashboard .list li#address a .icon {
	background-position: 0 -609px;
}

.dashboard .list li#contact a .icon {
	background-position: 0 -811px;
}

.dashboard .list li#feed a .icon{
	background-position: 0 -1215px;
}

.dashboard .list li#categories a .icon {
	background-position: 0 -407px;
}

.dashboard .list li#photos:hover a .icon{
	background-position: 0 -912px;
}

.dashboard .list li#social:hover a .icon {
	background-position: 0 -104px;
}

.dashboard .list li#address:hover a .icon {
	background-position: 0 -508px;
}

.dashboard .list li#contact:hover a .icon {
	background-position: 0 -710px;
}

.dashboard .list li#feed:hover a .icon{
	background-position: 0 -1114px;
}

.dashboard .list li#categories:hover a .icon {
	background-position: 0 -306px;
}

.dashboard .list li .arrow {
	background: url(/images/shared/dashboard/icons.png) no-repeat 0 -30px;
	width: 15px;
	height: 26px;
	display: block;
	position: absolute;
	right: 10px;
	top: 26px;
}

.dashboard .list li:hover .arrow {
	background-position: 0 0;
	background-color: #c02926;
}

.dashboard .list li a h3 {
	color: #c02926;
	font-size: 22px;
	font-weight: lighter;
}

.dashboard .list li a small {
	color: #888;
	display: block;
	font-size: 12px;
	line-height: 12px;
}

.dashboard .domain {
	font-size: 18px;
	color: #666;
	text-align: center;
}

.dashboard .domain a {
	color: #c02926;
	font-size: 28px;
}