.form-edit {
	border-top: 1px solid #DDD;
}

.form-edit fieldset {
	border: 0;
	border-bottom: 1px solid #DDD;
	clear: both;
	padding-bottom: 10px;
}

.form-edit fieldset.actions {
	border: 0;
	padding: 25px;
}

.form-edit fieldset.actions button {
	margin-left: 295px;
}

.form-edit fieldset h2 {
	color: #c02926;
	float: left;
	font: lighter 24px/22px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,arial,sans-serif;
	margin-right: 20px;
	padding: 40px 0 30px 25px;
	text-transform: lowercase;
	width: 275px;
}

.form-edit .tip {
	border-top: none;
	padding: 35px 25px 25px
}

.form-edit .tip h2 {
	padding: 0 0 10px;
	float: none;
}

.form-edit .tip h2.greater {
	font-size: 30px;
	line-height: 29px;
}

.form-edit .tip p {
	font-size: 14px;
	line-height: 18px;
	padding-right: 30px;
	color: #999;
}

.form-edit .tip p img.icon {
	float: left;
	margin: 0 10px 7px 0;
}

.form-edit .tip p img.icon + span {
	padding-top: 10px;
	display: block;
}

.form-edit .tip small {
	clear: both;
}

.form-edit .field-group {
	float: left;
	padding: 40px 0 0 0;
	width: 460px;
}

.form-edit .form-grid-220 {
	position: relative;
	float: left;
	margin-left: 20px;
	margin-bottom: 30px;
	width: 220px;
}

.form-edit .form-grid-460 {
	position: relative;
	clear: both;
	margin-bottom: 30px;
	width: 460px;
}

.form-edit .form-grid-570 {
	float: left;
	padding: 40px 0 0 0;
	width: 540px;
}

.form-edit .form-grid-220.first {
	margin-left: 0;
	clear: left;
}

.form-edit label, .form-edit .label {
	display: block;
	font-size: 12px;
	color: #666;
	margin-bottom: 2px;
}

.form-edit small {
	color: #888;
	display: block;
	font-size: 11px;
	line-height: 12px;
	margin-top: 8px;
}

.form-edit .optional {
	color: #CCC;
	position: absolute;
	right: 0;
	font-size: 11px;
	font-style: italic;
}

.form-edit p.error {
	color: #F00;
	font-style: italic;
	margin-top: 4px;
}

.form-edit .fieldset-expand {
	border-bottom: 1px solid #DDD;
	color: #c02926;
	display: block;
	font: lighter 18px/22px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,arial,sans-serif;
	text-decoration: none;
	outline: none;
	padding: 30px 25px;
}

	.form-edit .fieldset-expand:hover {
		background: url(/images/shared/layout/ui-button-white.png) center repeat-x;
		border-bottom-color: #CCC;
		-moz-box-shadow: 0 1px 0px #EEE;
		-webkit-box-shadow: 0 1px 0px #EEE;
	}
	
	.form-edit .fieldset-expand:active {
		background: url(/images/shared/layout/ui-button-white-active.png) center repeat-x;
	}
	
	.form-edit .fieldset-expand span {
		background: url(/images/shared/register/arrow-expand-fieldset.png) right no-repeat;
		float: right;
		padding-right: 40px;
		text-indent: -9999px;
		width: 30px;
	}
	
.form-edit .domains {
	padding: 25px 0;
	clear: both;
}

.form-edit .domains p {
	margin: 10px 0;
}

.form-edit .custom-domain-setup {
	margin: 5px 0;
}

.form-edit .custom-domain-setup small {
	font-size: 13px;
}

.form-edit .custom-domain-setup span {
	color: #999;
	font-size: 17px;
}

.form-edit .meumobi-url span {
	color: #999;
	font-size: 17px;
	display: inline-block;
	line-height: 29px;
	margin-right: 5px;
	float: left;
}

.form-edit .meumobi-url input {
	float: left;
	margin-right: 5px;
}

.form-edit p.code {
	border: 1px solid #CCC;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	padding: 10px;
}

.form-edit .logo {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #CCC;
	padding: 5px;
	margin-bottom: 10px;
	max-width: 200px;
}

.form-edit a.delete-items {
	margin-right: 10px;
}

.form-edit a.delete {
	float: right;
	position: relative;
	padding-left: 25px;
	margin-top: 8px;
}

.form-edit a.delete img {
	position: absolute;
	top: 5px;
	left: 7px;
}

.populate-fields  {
	overflow:hidden;
}
.populate-fields fieldset {
	border-bottom:none;
	margin:0;
	padding:10px 0 0;
}

.import_method {
	overflow: hidden;
}

.import_method fieldset {
	border-bottom:none;
}

.form-edit div.input.checkbox input {
	margin-top:5px;
}

.form-edit label.checkbox {
	margin:-1.2em 0 0 20px;
	
}