#FormLogin div.checkbox {
	float: left;
	padding: 8px 0;
	width: 22px;
}

#FormLogin label.checkbox {
	line-height: 30px;
	float: left;
}

#FormLogin .forgot-password {
	color: #C02926;
	text-decoration: none;
}

#FormLogin .forgot-password:hover {
	text-decoration: underline;
}
