RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]


# compress all text files
AddOutputFilterByType DEFLATE application/atom+xml \
                        application/javascript \
                        application/json \
                        application/rss+xml \
                        application/vnd.ms-fontobject \
                        application/x-font-ttf \
                        application/xhtml+xml \
                        application/xml \
                        font/opentype \
                        image/svg+xml \
                        image/x-icon \
                        text/css \
                        text/html \
                        text/plain \
                        text/x-component \
                        text/xml
<IfModule mod_expires.c>
  # Turn on Expires
  ExpiresActive On

  <FilesMatch "\.(?i:jpg|jpeg|png|gif|svg)$">
    ExpiresDefault A29030400
    # 3 days
    # Expires Default A259200
    # Header append Cache-Control "private must-revalidate"
  </FilesMatch>

  ExpiresByType application/json          "access plus 30 minutes"
</IfModule>

