* {
	padding: 0;
	margin: 0;
}

body {
	background: #EFEFEF;
	font: 12px Arial, Helvetica, sans-serif;
}

.clear {
	clear: both;
}

a img {
	border: 0;
}

::selection {
	background:#cc0000;
	color:#fff;
}

::-moz-selection {
	background:#cc0000;
	color:#fff;
}

::-webkit-selection {
	background:#cc0000;
	color:#fff;
}

#header {
	border-top: 10px solid #c02926;
	margin-bottom: 50px;
	color: #707070;
	margin: 0 auto 50px auto;
	width: 940px;
}
	
#header div.logo {
	border-bottom: 1px solid #D3D3D3;
	float: left;
	height: 50px;
	padding-top: 60px;
	width: 300px;
}

#header .menu {
	float: right;
	width: 620px;
}

#header .menu .navigation {
	border-bottom: 1px solid #D3D3D3;
	height: 25px;
	padding-top: 37px;
	padding-bottom: 10px;
}

#header .navigation h1 {
	color: #707070;
	float: left;
	font-size: 30px;
	font-weight: lighter;
	letter-spacing: -1px;
	width: 460px;
}

#header .navigation .user {
	float: left;
	font-size: 11px;
	width: 140px;
	margin-left: 20px;
}

#header .navigation .user p {
	float: left;
	padding: 15px 0 0 0;
	overflow: hidden;
	height: 20px;
	width: 90px;
	margin-right: 8px;
}
#header .navigation .user a {
	color: #707070;
	display: block;
	float: left;
	font-weight: bold;
	text-align: right;
	text-decoration: none;
	padding: 9px 0 8px 15px;
	margin-top: 6px;
}

#header .navigation .user a:hover {
	background: #C02926;
	color: #FFF;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

#header .menu ul {
	clear: both;
}

#header .menu ul li {
	float: left;
	list-style: none;
	margin-left: 20px;
	width: 140px;
}

#header .menu ul li:first-child {
	margin-left: 0;
}

#header .menu ul li a {
	border-bottom: 1px solid #D3D3D3;
	color: #707070;
	display: block;
	font-size: 15px;
	letter-spacing: -0.5px;
	text-decoration: none;
	text-transform: lowercase;
	margin-top: 10px;
	padding: 5px 0 5px 0;
}

#header .menu ul li a:hover {
	background-color: #C02926;
	border-color: #C02926;
	color: #FFF;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

#content {
	background: #FFF;
	clear: both;
	margin: 0 auto 50px auto;
	width: 940px;
}

#footer {
	background: #E8E8E8;
	height: 300px;
}

#footer #footer-wrapper {
	margin: 0 auto;
	width: 940px;
}

.ui-button {
	background: url(/images/layout/ui-button-white.png) center repeat-x;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border: 1px solid #CCC;
	color: #C02926;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	padding: 5px 10px;
	outline: none;
	text-decoration: none;
	-webkit-box-shadow: 0 1px 0px #E8E8E8;
	-moz-box-shadow: 0 1px 0px #E8E8E8;
}

.ui-button:hover {
	border-color: #AAA;
}

	.ui-button:active {
		background-image: url(/images/layout/ui-button-white-active.png);
		border-color: #AAA;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
	}

	.ui-button.large {
		font-size: 18px;
		padding: 7px 14px;
	}

	.ui-button.larger {
		font-size: 22px;
		padding: 9px 18px;
	}

	.ui-button.small {
		font-size: 11px;
		padding: 4px 8px;
	}

	.ui-button.smaller {
		font-size: 10px;
		padding: 2px 6px;
	}
	
	.ui-button.red {
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		background-color: #b22623;
		background-image: url(/images/layout/ui-button-red.png);
		color: #FFF;
		border-color: #b22623;
	}
	
	.ui-button.red:hover {
		background-color: #c02926;
		border-color: #871d1b;
	}
	
	.ui-button.red:active {
		background-image: url(/images/layout/ui-button-red-active.png);
	}
	
	.ui-button.disabled,
	.ui-button.disabled:hover,
	.ui-button.disabled:active {
		border-color: #CCC;
		background: #EEE;
		color: #666;
		cursor: default;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
	}
	
.ui-text,
.ui-textarea {
	border: 1px solid #CCC;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background: #FFF;
	font: 17px "Arial", "Helvetica", sans-serif;
	color: #444;
	cursor: pointer;
	padding: 3px 6px 4px;
	width: 206px;
}

	.ui-text:hover,
	.ui-textarea:hover {
		border-color: #AAA;
	}
	
	.ui-text:focus,
	.ui-textarea:focus {
		background: #EFEFEF url(/images/layout/ui-text-bg.png) top repeat-x;
		border-color: #AAA;
	}
	
	.ui-text.large,
	.ui-textarea.large {
		width: 446px;
	}
	
	.ui-text.disabled,
	.ui-text.disabled:hover,
	.ui-text.disabled:active,
	.ui-textarea.disabled,
	.ui-textarea.disabled:hover,
	.ui-textarea.disabled:active {
		border-color: #BBB;
		background: #DDD;
		cursor: default;
		color: #555;
	}
	
	.ui-text.error,
	.ui-textarea.error {
		border-color: #F00;
		-webkit-box-shadow: 0 0 4px #F00;
		-moz-box-shadow: 0 0 4px #F00;
	}
	
	.ui-textarea {
		font-size: 12px;
		line-height: 16px;
	}
	
	.ui-textarea.large {
		height: 100px;
	}
	
.ui-select {
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border: 1px solid #CCC;
	font: 17px "Arial", "Helvetica", sans-serif;
	color: #444;
	cursor: pointer;
	padding: 3px 4px 4px;
	width: 220px;
}

	.ui-select.large {
		width: 460px;
	}