* {
	padding: 0;
	margin: 0;
}

body {
	background: #EFEFEF;
	font: 12px Arial, Helvetica, sans-serif;
}

.hidden {
	display:none;
}

.clear {
	clear: both;
}

a img {
	border: 0;
}

::selection {
	background:#cc0000;
	color:#fff;
}

::-moz-selection {
	background:#cc0000;
	color:#fff;
}

::-webkit-selection {
	background:#cc0000;
	color:#fff;
}

#header {
	border-top: 10px solid #c02926;
	margin-bottom: 50px;
	color: #707070;
	margin: 0 auto 50px auto;
	width: 940px;
}
	
#header div.logo {
	border-bottom: 1px solid #D3D3D3;
	float: left;
	height: 50px;
	padding-top: 79px;
	width: 300px;
}

#header .menu {
	float: right;
	width: 620px;
}

#header .menu .navigation {
	border-bottom: 1px solid #D3D3D3;
	height: 45px;
	padding-top: 35px;
	padding-bottom: 10px;
}

#header .navigation .sites {
	float: left;
	width: 460px;
	color: #707070;
/*	margin-top: -17px;*/
	position: relative;
}
#header .navigation .sites .business-name,
#header .navigation .user p {
	background-image: url("/images/shared/markitup/menu.png");
	background-position: right center;
	background-repeat: no-repeat;
}
#header .navigation .sites .business-name {
	cursor: pointer;
	font-size: 30px;
	font-weight: lighter;
	letter-spacing: -1px;
	display: inline;
	padding-right: 28px;
}

#header .navigation .sites.open .business-name {
	background-color: #FFF;
	padding: 5px 28px 5px 8px ;
	position: relative;
	left: -9px;
	border-left: 1px solid #ccc;
	
}
#header .navigation .sites.open .site-switcher {
	display: block;
}
#header .navigation .sites .share {
	font-size: 11px;
	margin: 0;
}
#header .navigation .sites .share a {
	text-decoration: none;
	color: #707070;
}
#header .navigation .sites .share a:hover {
	text-decoration: underline;
}

#header .navigation .sites .site-switcher {
	position: absolute;
	padding: 5px 8px;
	left: -9px;
	width: 100%;
	border: 1px solid #ddd;
	border-width: 0px 1px 1px;
	background-color: #FFF;
	top: 36px;
	z-index: 9999;
	display: none;
}
#header .navigation .sites .site-switcher > p {
	text-transform: uppercase;
	padding: 11px 7px;
	font-size: 10px;
}
#header .navigation .sites .site-switcher ul a{
	border: none;
	margin: 0;
	padding: 0;
	display: block;
	overflow: hidden;
}
#header .navigation .sites .site-switcher ul a:hover{
	text-shadow: none;
	background: none;
}
#header .navigation .sites .site-switcher li {
	display: block; 
	float: none;
	clear: both;
	margin: 0;
	padding: 10px 8px;
	overflow: hidden;
	text-indent: 9px;
	border-top: 1px solid #ddd;
	width: 100%;
	margin-left: -8px;
}

#header .navigation .sites .site-switcher li.new { 
	padding: 7px 8px 3px;
}
#header .navigation .sites .site-switcher li.new a { 
	font-weight: bold;
	color: #2F3E6E;
}
#header .navigation .sites .site-switcher small {
	display: block;
	font-style: italic;
	font-size: 11px;
	color: #999;
	margin: 3px 0;
}

#header .navigation .sites .site-switcher .site-name {
	float: left;
}
#header .navigation .sites .site-switcher .status {
	float: right;
	position: relative;
	top: 10px;
	font-weight: bold;
	color: #3b4d89;
	font-size: 12px;
	margin-right: 10px;
}
#header .navigation .sites .site-switcher .current {
	font-weight: normal;
	color: #676767;
	font-style: italic;
	padding-right: 20px;
	background: url("/images/shared/markitup/tick_gray.png") no-repeat right center;
}

#header .navigation .sites .site-switcher .site-name span {
	font-size: 14px;
	font-weight: bold;
	color: #444;
}

#header .navigation .user {
	float: left;
	font-size: 11px;
	width: 140px;
	margin-left: 20px;
	position: relative;
	height: 37px;
	margin-top: 19px;
}

#header .navigation .user p {
/*	float: left;*/
	padding: 15px 0 0px 10px;
	overflow: hidden;
	height: 21px;
	top: 1px;
/*	width: 90px;*/
	margin-right: 8px;
	position: relative;
	cursor: pointer;

}

#header .navigation .user.open {
	background-color: #FFF;
	cursor: pointer;
}
#header .navigation .user a {
	color: #707070;
	display: block;
	float: left;
	font-weight: bold;
	text-align: right;
	text-decoration: none;
	padding: 9px 0 8px 15px;
	margin-top: 6px;
}

#header .navigation .user.open ul {
	display: block;
}
#header .navigation .user ul {
	position: absolute;
	width: 200px;
	right: 0;
	margin-top: 1px;
	background: #FFF;
	display: none;
}
#header .navigation .user li {
	width: 100%;

	margin-left: 0;
	
}
#header .navigation .user li a {
	display: block;
	width: 100%;
	text-align: left; 
	padding: 10px 0 9px ;
	margin: 0;
	text-indent: 10px;
}
#header .navigation .user a:hover {
	background: #C02926;
	color: #FFF;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

#header .menu ul {
	clear: both;
}

#header .menu ul li {
	float: left;
	list-style: none;
	margin-left: 20px;
	width: 140px;
}

#header .menu ul li:first-child {
	margin-left: 0;
}

#header .menu ul li a {
	border-bottom: 1px solid #D3D3D3;
	color: #707070;
	display: block;
	font-size: 15px;
	letter-spacing: -0.5px;
	text-decoration: none;
	text-transform: lowercase;
	margin-top: 10px;
	padding: 5px 0 5px 0;
}

#header .menu ul li a:hover {
	background-color: #C02926;
	border-color: #C02926;
	color: #FFF;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

#content {
	background: #FFF;
	clear: both;
	margin: 0 auto 50px auto;
	overflow: hidden;
	position: relative;
	width: 940px;
}
#content .slide-elem {
	width: 940px;
	float:left;
	position:relative;
}

#content .page-heading {
	height: 120px;
}

#content h1 {
	border-top: 11px solid #DBDBDB;
	color: #B5B5B5;
	font: lighter 48px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,arial,sans-serif;
	height: 60px;
	overflow: hidden;
	letter-spacing: -1px;
	text-transform: lowercase;
}

#footer {
	background: #E8E8E8;
	height: 150px;
}

#footer #footer-wrapper {
	margin: 0 auto;
	padding-top: 30px;
	width: 940px;
}

#footer #footer-wrapper ul {
	float: right;
	margin-top: 10px;
}

#footer #footer-wrapper img {
	float: left;
}

#footer #footer-wrapper ul li {
	color: #ACACAC;
	display: inline;
	float: left;
	font-size: 11px;
	list-style: none;
	margin-left: 10px;
}

#footer #footer-wrapper ul li a {
	color: #ACACAC;
	font-weight: bold;
	text-decoration: none;
}

#footer #footer-wrapper ul li a:hover {
	text-decoration: underline;
}

#success-feedback,
#error-feedback {
	background: #278740 url(/images/shared/layout/feedback-close.png) 900px 26px no-repeat;
	color: #FFF;
	display: block;
	font: lighter 20px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,arial,sans-serif;
	margin: 0 auto;
	margin-bottom: 30px;
	padding: 20px 25px;
	text-decoration: none;
	width: 890px;
}

	#success-feedback:hover {
		background-color: #227738;
	}
	
	#error-feedback {
		background-color: #ed0d0d;
	}
	
	#error-feedback:hover {
		background-color: #be0a0a;
	}