* {
	padding: 0;
	margin: 0;
}

body {
	background: #EFEFEF;
	font: 12px Arial, Helvetica, sans-serif;
}

.hidden {
	display:none;
}

.clear {
	clear: both;
}

a img {
	border: 0;
}

::selection {
	background:#cc0000;
	color:#fff;
}

::-moz-selection {
	background:#cc0000;
	color:#fff;
}

::-webkit-selection {
	background:#cc0000;
	color:#fff;
}

#header {
	border-top: 10px solid #c02926;
	margin-bottom: 50px;
	color: #707070;
	margin: 0 auto 50px auto;
	width: 940px;
}
	
#header div.logo {
	border-bottom: 1px solid #D3D3D3;
	float: left;
	height: 50px;
	padding-top: 60px;
	width: 300px;
}

#header .menu {
	float: right;
	width: 620px;
}

#header .menu .navigation {
	border-bottom: 1px solid #D3D3D3;
	height: 25px;
	padding-top: 35px;
	padding-bottom: 10px;
}

#header .navigation p.business-name {
	color: #707070;
	float: left;
	font-size: 30px;
	font-weight: lighter;
	letter-spacing: -1px;
	width: 460px;
}

#header .navigation .user {
	float: left;
	font-size: 11px;
	width: 140px;
	margin-left: 20px;
}

#header .navigation .user p {
	float: left;
	padding: 15px 0 0 0;
	overflow: hidden;
	height: 20px;
	width: 90px;
	margin-right: 8px;
}
#header .navigation .user a {
	color: #707070;
	display: block;
	float: left;
	font-weight: bold;
	text-align: right;
	text-decoration: none;
	padding: 9px 0 8px 15px;
	margin-top: 6px;
}

#header .navigation .user a:hover {
	background: #C02926;
	color: #FFF;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

#header .menu ul {
	clear: both;
}

#header .menu ul li {
	float: left;
	list-style: none;
	margin-left: 20px;
	width: 140px;
}

#header .menu ul li:first-child {
	margin-left: 0;
}

#header .menu ul li a {
	border-bottom: 1px solid #D3D3D3;
	color: #707070;
	display: block;
	font-size: 15px;
	letter-spacing: -0.5px;
	text-decoration: none;
	text-transform: lowercase;
	margin-top: 10px;
	padding: 5px 0 5px 0;
}

#header .menu ul li a:hover {
	background-color: #C02926;
	border-color: #C02926;
	color: #FFF;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

#content {
	background: #FFF;
	clear: both;
	margin: 0 auto 50px auto;
	overflow: hidden;
	position: relative;
	width: 940px;
}
#content .slide-elem {
	width: 940px;
	float:left;
	position:relative;
}

#content .page-heading {
	height: 120px;
}

#content h1 {
	border-top: 11px solid #DBDBDB;
	color: #B5B5B5;
	font: lighter 48px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,arial,sans-serif;
	height: 60px;
	overflow: hidden;
	letter-spacing: -1px;
	text-transform: lowercase;
}

#footer {
	background: #E8E8E8;
	height: 150px;
}

#footer #footer-wrapper {
	margin: 0 auto;
	padding-top: 30px;
	width: 940px;
}

#footer #footer-wrapper ul {
	float: right;
	margin-top: 10px;
}

#footer #footer-wrapper img {
	float: left;
}

#footer #footer-wrapper ul li {
	color: #ACACAC;
	display: inline;
	float: left;
	font-size: 11px;
	list-style: none;
	margin-left: 10px;
}

#footer #footer-wrapper ul li a {
	color: #ACACAC;
	font-weight: bold;
	text-decoration: none;
}

#footer #footer-wrapper ul li a:hover {
	text-decoration: underline;
}

#success-feedback,
#error-feedback {
	background: #278740 url(/images/shared/layout/feedback-close.png) 900px 26px no-repeat;
	color: #FFF;
	display: block;
	font: lighter 20px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,arial,sans-serif;
	margin: 0 auto;
	margin-bottom: 30px;
	padding: 20px 25px;
	text-decoration: none;
	width: 890px;
}

	#success-feedback:hover {
		background-color: #227738;
	}
	
	#error-feedback {
		background-color: #ed0d0d;
	}
	
	#error-feedback:hover {
		background-color: #be0a0a;
	}