* {
	padding: 0;
	margin: 0;
}

body {
	background: #EFEFEF;
	font: 12px Arial, Helvetica, sans-serif;
}

.clear {
	clear: both;
}

a img {
	border: 0;
}

::selection {
	background:#cc0000;
	color:#fff;
}

::-moz-selection {
	background:#cc0000;
	color:#fff;
}

::-webkit-selection {
	background:#cc0000;
	color:#fff;
}

#header {
	border-top: 10px solid #c02926;
	border-bottom: 1px solid #DDD;
	margin-bottom: 50px;
	color: #707070;
	height: 560px;
	margin: 0 auto 50px auto;
	position: relative;
	width: 940px;
}
	
#header div.logo {
	border-bottom: 1px solid #D3D3D3;
	float: left;
	height: 62px;
	padding-top: 48px;
	width: 300px;
}

#header p.login {
	border-bottom: 1px solid #D3D3D3;
	float: left;
	font-size: 13px;
	height: 25px;
	padding-top: 85px;
	margin-left: 20px;
	width: 620px;
}

#header p.login a {
	color: #C02926;
	text-decoration: none;
}

#header p.login a:hover {
	text-decoration: underline;
}

#content {
	clear: both;
	margin: 0 auto 50px auto;
	position: relative;
	width: 940px;
}

small.facts {
	color: #999;
}

#footer {
	background: #E8E8E8;
	height: 150px;
}

#footer #footer-wrapper {
	margin: 0 auto;
	padding-top: 30px;
	width: 940px;
}

#footer #footer-wrapper ul {
	float: right;
	margin-top: 10px;
}

#footer #footer-wrapper img {
	float: left;
}

#footer #footer-wrapper ul li {
	color: #ACACAC;
	display: inline;
	float: left;
	font-size: 11px;
	list-style: none;
	margin-left: 10px;
}

#footer #footer-wrapper ul li a {
	color: #ACACAC;
	font-weight: bold;
	text-decoration: none;
}

#footer #footer-wrapper ul li a:hover {
	text-decoration: underline;
}

#slideshow {
	position: absolute;
	height: 560px;
	left: 490px;
	width: 450px;
	top: 0;
}

#slideshow img {
	margin-top: 40px;
}

.get-started {
	clear: both;
	padding-top: 60px;
}

.get-started h2 {
	color: #726f6d;
	font: lighter 52px/52px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,arial,sans-serif;
	letter-spacing: -2px;
	margin-bottom: 20px;
	width: 460px;
}

.get-started p.subtitle {
	color: #9b9794;
	font: 24px/26px "Myriad Pro", "Myriad Web", "Helvetica Neue", Helvetica,arial,sans-serif;
	font-style: italic;
	margin-bottom: 20px;
	width: 460px;
}

.get-started a {
	background: url(/images/home/register-button.png) 0 0 no-repeat;
	display: block;
	height: 62px;
	text-indent: -9999px;
	overflow: hidden;
	outline: none;
	width: 300px;
}

	.get-started a:hover {
		background-position: 0 -62px;
	}
	
	.get-started a:active {
		background-position: 0 -124px;
	}
	
h2.porque {
	color: #9b9794;
	clear: both;
	font: 38px "Myriad Pro", "Myriad Web", "Helvetica Neue", Helvetica,arial,sans-serif;
	font-style: italic;
	letter-spacing: -1px;
	margin-bottom: -45px;
	text-transform: lowercase;
}

.features {
	margin-bottom: 20px;
}

.features li {
	border-bottom: 1px solid #DDD;
	display: inline;
	float: left;
	width: 220px;
	height: 140px;
	margin-bottom: 40px;
	list-style: none;
	margin-left: 20px;
}

.features li.first {
	margin-left: 0;
}

.features li p.title {
	color: #C02926;
	font: 18px/18px "Myriad Pro", "Myriad Web", "Helvetica Neue", Helvetica,arial,sans-serif;
	margin-bottom: 10px;
}

.features li p.description {
	color: #9b9794;
	font-size: 12px;
	line-height: 16px;
}

#login-window {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 3px solid #BBB;
	display: none;
	background: #FFF;
	position: absolute;
	top: 67px;
	left: 302px;
	padding: 15px;
	z-index: 10;
	-webkit-box-shadow: 0 0px 1px #333;
	-moz-box-shadow: 0 0px 1px #333;
}

#login-window p {
	font-size: 13px;
	margin-bottom: 15px;
	border-bottom: 1px solid #DDD;
	padding-bottom: 10px;
}

#login-window p a {
	text-decoration: none;
	color: #C02926;
}

#login-window .input {
	margin-bottom: 6px;
}

#login-window label {
	display: block;
	font-size: 11px;
	margin-bottom: 4px;
}

#login-window label.checkbox {
	line-height: 30px;
	float: left;
}

#login-window button {
	clear: both;
	float: left;
}

#login-window .cancel {
	color: #C02926;
	font-size: 11px;
	text-decoration: none;
	margin-top: 7px;
	float: right;
}

#login-window .cancel:hover {
	text-decoration: underline;
}

#login-window div.checkbox {
	float: left;
	padding: 8px 0;
	width: 22px;
}