* {
	padding: 0;
	margin: 0;
}

body {
	background: #EFEFEF;
	font: 12px Arial, Helvetica, sans-serif;
	text-align: center;
}

.clear {
	clear: both;
}

a img {
	border: 0;
}

::selection {
	background:#cc0000;
	color:#fff;
}

::-moz-selection {
	background:#cc0000;
	color:#fff;
}

::-webkit-selection {
	background:#cc0000;
	color:#fff;
}

#header {
	text-align: left;
	margin: 0 auto;
	padding: 50px 0 30px;
	width: 780px;
}

#content {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 4px #333;
	-webkit-box-shadow: 0 0 2px #CCC;
	-moz-box-shadow: 0 0 2px #CCC;
	background: #FFF;
	clear: both;
	margin: 0 auto 50px auto;
	text-align: left;
	width: 780px;
	
}

#content .head {
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	background: #c02926;
	padding: 45px 25px 0 25px;
}

#content .head h1 {
	color: #FFF;
	font: lighter 36px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,arial,sans-serif;
	float: left;
	letter-spacing: -1px;
	margin-top: -10px;
	text-transform: lowercase;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
	width: 340px;
}

#content .head .steps {
	float: right;
}

#content .head .steps li {
	border-left: 1px solid #C02926;
	color: #c94845;
	display: inline;
	float: left;
	font-size: 15px;
	height: 50px;
	line-height: 14px;
	padding-left: 10px;
	width: 100px;
}

#content .head .steps li.current {
	border-color: #FFF;
	color: #FFF;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

#footer {
	background: #E8E8E8;
	height: 150px;
}

#footer #footer-wrapper {
	margin: 0 auto;
	padding-top: 30px;
	width: 780px;
}

#footer #footer-wrapper ul {
	float: right;
	margin-top: 10px;
}

#footer #footer-wrapper img {
	float: left;
}

#footer #footer-wrapper ul li {
	color: #ACACAC;
	display: inline;
	float: left;
	font-size: 11px;
	list-style: none;
	margin-left: 10px;
}

#footer #footer-wrapper ul li a {
	color: #ACACAC;
	font-weight: bold;
	text-decoration: none;
}

#footer #footer-wrapper ul li a:hover {
	text-decoration: underline;
}

.form-register fieldset {
	border: 0;
	border-bottom: 1px solid #DDD;
	clear: both;
	padding-bottom: 10px;
}

.form-register fieldset.actions {
	border: 0;
	padding: 25px;
}

.form-register fieldset.actions button {
	float: right;
}

.form-register fieldset h2 {
	color: #c02926;
	float: left;
	font: lighter 24px/22px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,arial,sans-serif;
	margin-right: 20px;
	padding: 40px 0 30px 25px;
	width: 220px;
}

.form-register .field-group {
	float: left;
	padding: 40px 0 0 0;
	width: 460px;
}

.form-register .form-grid-220 {
	position: relative;
	float: left;
	margin-left: 20px;
	margin-bottom: 30px;
	width: 220px;
}

.form-register .form-grid-460 {
	position: relative;
	clear: both;
	margin-bottom: 30px;
	width: 460px;
}

.form-register .form-grid-220.first {
	margin-left: 0;
	clear: left;
}

.form-register label {
	display: block;
	font-size: 12px;
	color: #666;
	margin-bottom: 2px;
}

.form-register small {
	color: #888;
	display: block;
	font-size: 11px;
	line-height: 12px;
	margin-top: 8px;
}

.form-register .optional {
	color: #CCC;
	position: absolute;
	right: 0;
	font-size: 11px;
	font-style: italic;
}

.form-register p.error {
	color: #F00;
	font-style: italic;
	margin-top: 4px;
}

.form-register .fieldset-expand {
	border-bottom: 1px solid #DDD;
	color: #c02926;
	display: block;
	font: lighter 18px/22px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,arial,sans-serif;
	text-decoration: none;
	outline: none;
	padding: 30px 25px;
}

	.form-register .fieldset-expand:hover {
		background: url(/images/shared/layout/ui-button-white.png) center repeat-x;
		border-bottom-color: #CCC;
		-moz-box-shadow: 0 1px 0px #EEE;
		-webkit-box-shadow: 0 1px 0px #EEE;
	}
	
	.form-register .fieldset-expand:active {
		background: url(/images/shared/layout/ui-button-white-active.png) center repeat-x;
	}
	
	.form-register .fieldset-expand span {
		background: url(/images/shared/register/arrow-expand-fieldset.png) right no-repeat;
		font-style: italic;
		color: #999;
		float: right;
		font-size: 16;
		padding-right: 40px;
	}
	
.form-register .meumobi-url {
}

.form-register .meumobi-url span {
	color: #999;
	font-size: 17px;
	display: inline-block;
	line-height: 29px;
	margin-right: 5px;
	float: left;
}

.form-register .meumobi-url input {
	float: left;
	margin-right: 5px;
}

.theme-picker {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	background: #EFEFEF;
	padding: 15px 15px 5px;
	margin-bottom: 5px;
}

.theme-picker h3,
.skin-picker h3 {
	color: #777;
	font: lighter 16px/16px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,arial,sans-serif;
	text-transform: lowercase;
	margin: -2px 0 10px 4px;
}

.theme-picker ul {}

.theme-picker ul li {
	display: inline;
	float: left;
	margin-right: 18px;
	margin-bottom: 10px;
	width: 125px;
}

.theme-picker ul li a:hover img {
	border-color: #AAA;
}

.theme-picker ul li.selected a img {
	border-color: #c02926;
}

.theme-picker ul li a {
	color: #333;
	font-size: 11px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	outline: none;
	text-decoration: none;
}

.theme-picker ul li a img {
	border: 4px solid #EFEFEF;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	height: 125px;
	width: 125px;
}

.theme-picker ul li a span {
	padding: 0 4px;
}

.skin-picker {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #DDD;
	padding: 15px 15px 10px;
	margin-bottom: 5px;
}

.skin-picker ul {}

.skin-picker ul li {
	display: inline;
	float: left;
	margin-right: 11px;
	margin-bottom: 0px;
	width: 60px;
}

.skin-picker ul li a:hover {
	border-color: #DDD;
}

.skin-picker ul li.selected a {
	border-color: #c02926;
}

.skin-picker ul li a {
	display: block;
	color: #333;
	font-size: 11px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	outline: none;
	text-decoration: none;
	border: 4px solid #FFF;
	height: 60px;
	width: 60px;
}

.skin-picker ul li a span {
	padding: 0 4px;
}

.registration-finished {}

.registration-finished img {
	margin: 50px 0 30px 182px;
}

.registration-finished h2 {
	color: #666;
	font-size: 22px;
	text-align: center;
	font-weight: normal;
	margin-bottom: 50px;
}

.registration-finished h2 a {
	color: #c02926;
	font: lighter 36px/36px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,arial,sans-serif;
	display: block;
	letter-spacing: -1px;
	text-transform: lowercase;
	text-decoration: none;
}

	.registration-finished h2 a:hover {
		text-decoration: underline;
	}

.registration-finished a {
	display: block;
}

.registration-finished .next-steps {
	border-top: 1px solid #DDD;
	padding: 20px 25px;
}

.registration-finished .next-steps h3 {
	color: #777;
	font: lighter 20px/24px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,arial,sans-serif;
	margin-bottom: 5px;
	text-transform: lowercase;
	width: 220px;
}

.registration-finished .next-steps p {
	color: #777;
	width: 220px;
	font-size: 12px;
}

.registration-finished .next-steps ul {
	float: right;
	margin-top: -48px;
}

.registration-finished .next-steps ul li {
	list-style: none;
	margin-bottom: 5px;
}

.registration-finished .next-steps ul li a {
	color: #c02926;
	font-size: 14px;
	text-decoration: none;
}

.registration-finished .next-steps ul li a:hover {
	text-decoration: underline;
}

#success-feedback,
#error-feedback {
	background: #278740 url(/images/shared/layout/feedback-close.png) 740px 26px no-repeat;
	color: #FFF;
	display: block;
	font: lighter 20px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,arial,sans-serif;
	margin: 0 auto;
	margin-bottom: 30px;
	padding: 20px 25px;
	text-decoration: none;
	text-align: left;
	width: 730px;
}

	#success-feedback:hover {
		background-color: #227738;
	}
	
	#error-feedback {
		background-color: #ed0d0d;
	}
	
	#error-feedback:hover {
		background-color: #be0a0a;
	}