body {
	background: #fff !important; 
}

::selection {
    background:#1070a0;
    color:#fff;
}

::-moz-selection {
    background:#1070a0;
    color:#fff;
}

#header .contextual-navbar ul li a:hover {
	background-color: #1070a0;
	border-color: #1070a0;
}

#header .navigation .user a:hover {
	background: #1070a0;
}


.businessitems-list li .info a {
	color: #1070a0;
}


.form-edit fieldset h2 {
	color: #1070a0;
}

.form-edit .fieldset-expand {
	border-bottom: 1px solid #DDD;
	color: #1070a0;
}

.theme-picker ul li.selected a img {
	border-color: #1070a0;
}

.skin-picker ul li.selected a {
	border-color: #1070a0;
}


.login #header {
	border-top: 10px solid #1070a0;
}

#header p.login a {
	color: #1070a0;
}

.features li p.title {
	color: #1070a0;
}

#login-window p a {
	color: #1070a0;
}

#login-window .cancel,
#login-window .forgot-password {
	color: #1070a0;
}

#content .head {
	background: #1070a0;
}

.form-register fieldset h2 {
	color: #1070a0;
}

.form-register .fieldset-expand {
	color: #1070a0;
}

.theme-picker ul li.selected a img {
	border-color: #1070a0;
}

.skin-picker ul li.selected a {
	border-color: #1070a0;
}

.registration-finished h2 a {
	color: #1070a0;
}

.registration-finished .next-steps ul li a {
	color: #1070a0;
}

.tip-register a {
  color: #1070a0;
}
.ui-button {
	color: #1070a0;
}
.ui-button.red {
	background-color: #1070a0;
	border-color: #1070a0;
}
.ui-button.red:hover {
	background-color: #1070a0;
	border-color: #1070a0;
}
.picture-upload-container .default .icon_upload{background-color:#1070a0;} 

