::selection {
    background:#7665A9;
    color:#fff;
}

::-moz-selection {
    background:#7665A9;
    color:#fff;
}

#header {
	border-color: #7665A9;
}

#header .contextual-navbar ul li a:hover {
	background-color: #7665A9;
	border-color: #7665A9;
}

.global-navbar {
	background-color: #7665A9;
}

.login #header {
	border-top: 10px solid #7665A9;
}

#header .navigation .user a:hover {
	background: #7665A9;
}


.businessitems-list li .info a {
	color: #7665A9;
}


.form-edit fieldset h2 {
	color: #7665A9;
}

.form-edit .fieldset-expand {
	border-bottom: 1px solid #DDD;
	color: #7665A9;
}

.theme-picker ul li.selected a img {
	border-color: #7665A9;
}

.skin-picker ul li.selected a {
	border-color: #7665A9;
}

#header p.login a {
	color: #7665A9;
}

.features li p.title {
	color: #7665A9;
}

#login-window p a {
	color: #7665A9;
}

#login-window .cancel,
#login-window .forgot-password {
	color: #7665A9;
}

#header .head h1, #header .head .steps li.current {
	color: #7665A9;
}

.form-register fieldset h2 {
	color: #7665A9;
}

.form-register .fieldset-expand {
	color: #7665A9;
}

.theme-picker ul li.selected a img {
	border-color: #7665A9;
}

.skin-picker ul li.selected a {
	border-color: #7665A9;
}

.registration-finished h2 a {
	color: #7665A9;
}

.registration-finished .next-steps ul li a {
	color: #7665A9;
}

.tip-register a {
  color: #7665A9;
}
.ui-button {
	color: #7665A9;
}
.ui-button.red {
	background-color: #7665A9;
	border-color: #7665A9;
}
.ui-button.red:hover {
	background-color: #7665A9;
	border-color: #7665A9;
}


